<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Wechat.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D3BD30201CB2504F00C3E58F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D3BD303C1CB2504F00C3E58F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D3BD30471CB2504F00C3E58F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
